

.fl {float: left}

.fr {float: right}

.p-rel {position: relative}

.p-abs {position: absolute}

.p-fix {position: fixed}

.box {width: 1020px;margin:0 auto}

.page {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc
 }

.square {list-style: none;margin:0}

	.square li {
		font-size: .9em;
		color: #404041;
		background: url('../images/listitem-dark.png') no-repeat 0 4px;
		line-height: 1.3;
		margin: 10px 0 0;
		text-indent: 0
	 }

		.square li h3 {padding: 0}

		.square li a {display: block;padding-left:10px}

.red-title {
	font-size: 21px;
	padding: 15px 20px 11px;
	margin: 0;
	border-bottom: 1px solid #ef7f00;
	color: #ef7f00;
	position: relative;
	overflow: hidden
 }

	.red-title:after {
		content: " ";
		width: 100%;
		position: absolute;
		bottom: 1px;
		left: 0;
		border: 1px solid #ef7f00
	 }

	.red-title a {color: #ef7f00}

.flag {
	width: 30px;
	height: 20px;
	background: url('../images/flags/flags.png') no-repeat 0 0;
	display: inline-block;
	margin-top: 9px
 }

	.flag.bulgarian {background-position: 0 0}

	.flag.croatian {background-position: 0 -20px}

	.flag.czech {background-position: 0 -40px}

	.flag.hungarian {background-position: 0 -60px}

	.flag.polish {background-position: 0 -80px}

	.flag.romanian {background-position: 0 -100px}

	.flag.russian {background-position: 0 -120px}

	.flag.serbian {background-position: 0 -140px}

	.flag.ukrainian {background-position: 0 -160px}

.nobox {margin: 0;padding:0}

.show-all {
	background: #5d8ac1;
	text-align: left;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 10px 0 0
 }

	.show-all a {
		border: 0;
		font-size: 12px;
		color: #fff;
		background: 0;
		font-weight: bold
	 }

		.show-all a:hover {text-decoration: underline}

.c-icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	background: url('../images/icons.png') no-repeat
 }

	.c-icon.home {background-position: 0 0}

	.c-icon.facebook {background-position: 0 -25px}

	.c-icon.twitter {background-position: 0 -50px}

	.c-icon.gplus {background-position: 0 -75px}

.btn {
	display: inline-block;
	background: #5d8ac1;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	padding: 10px 20px;
	margin: 20px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
 }

	.btn:hover,.btn:focus {background: #4170aa}

	.btn:active {background: #4170aa}

button,input[type="button"],input[type="reset"],input[type="submit"],.button-primary,a.button-primary,.wpm-button-primary,a.wpm-button-primary {
	display: inline-block;
	background: #5d8ac1;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	padding: 10px 20px;
	margin: 20px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
 }

button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,.button-primary:hover,a.button-primary:hover,.wpm-button-primary:hover,a.wpm-button-primary:hover,button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,.button-primary:focus,a.button-primary:focus,.wpm-button-primary:focus,a.wpm-button-primary:focus {background: #4170aa}

button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active,.button-primary:active,a.button-primary:active,.wpm-button-primary:active,a.wpm-button-primary:active {background: #4170aa}

.btn.red {
	display: inline-block;
	background: #5d8ac1;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	padding: 10px 20px;
	margin: 20px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	background: #ef7f00
 }

	.btn.red:hover,.btn.red:focus {background: #4170aa}

	.btn.red:active {background: #4170aa}

	.btn.red:hover,.btn.red:focus {background: #bc6400}

	.btn.red:active {background: #bc6400}

body {
	background: #333;
	font: 14px/20px 'Open Sans',Arial,Helvetica,sans-serif;
	font-weight: 500;
	color: #333;
	overflow-x: hidden;
	position: relative
 }

pre,code,kbd,tt,var {font: 12px/20px Consolas,Monaco,Lucida Console,monospace}

pre {
	word-wrap: normal;
	margin-bottom: 20px;
	padding: 15px 20px;
	background: #f5f5f5;
	overflow: auto;
	max-width: 100%
 }

a {color: #ef7f00;text-decoration:none}

	a:hover {
		text-decoration: none;
		animation: none!important;
		-webkit-animation: none!important
	 }

h1,h2,h3 {font-family: 'Open Sans',Arial,Helvetica,sans-serif;line-height:1.2}

h1 {
	font-weight: 700;
	font-size: 28px;
	color: #404041;
	margin-bottom: 15px
 }

h2 {
	font-weight: 700;
	font-size: 21px;
	color: #000;
	margin-bottom: 15px;
	padding: 0
 }

h3 {font-size: 14px;color:#000}

h4 {font-size: 14px;color:#404041}

h1.orange {color: #ef7f00}

h2 {margin: 10px 0}

	h2 a,h3 a {
		color: #5d8ac1;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		transition: all .2s
	 }

	h2 a:hover,h3 a:hover {color: #ef7f00}

	h2.border-bottom {
		color: #404041;
		border-bottom: 1px solid #d6d6d6;
		margin: 50px 0 30px;
		padding: 0 0 15px
	 }

ul {list-style: none}

.overlay-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/t_black_0.3.png');
	z-index: 9999;
	display: none;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s
 }

.main-para {margin-bottom: 50px}

.boxshadow {
	width: 100%;
	height: 52px;
	position: absolute;
	left: 0;
	z-index: 0
 }

.boxshadow-top {
	width: 100%;
	height: 52px;
	position: absolute;
	left: 0;
	z-index: 0;
	background: url('../images/menushadow-top.png') no-repeat 50% 0;
	bottom: 0
 }

.boxshadow-bottom {
	width: 100%;
	height: 52px;
	position: absolute;
	left: 0;
	z-index: 0;
	background: url('../images/menushadow-bottom.png') no-repeat 50% 0;
	top: 50px
 }

#infscr-loading {
	padding: 20px;
	background: #f8f8f8;
	text-align: center
 }

input:focus {outline: 0}

.header-grad {
	background: #5d8ac1;
	background: url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwOWVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzVkOGFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzVkOGFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#809ec4),color-stop(45%,#5d8ac1),color-stop(56%,#5d8ac1));
	background: -webkit-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -o-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -ms-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: linear-gradient(to bottom,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#809ec4',endColorstr='#5d8ac1',GradientType=0)
 }

.site-header {
	padding-top: 10px;
	z-index: 10;
	background: #5d8ac1;
	background: url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwOWVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzVkOGFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzVkOGFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#809ec4),color-stop(45%,#5d8ac1),color-stop(56%,#5d8ac1));
	background: -webkit-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -o-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -ms-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: linear-gradient(to bottom,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#809ec4',endColorstr='#5d8ac1',GradientType=0)
 }

	.site-header .tagline {
		font-size: 18px;
		font-weight: normal;
		position: absolute;
		left: 115px;
		top: 75px
	 }

		.site-header .tagline a {color: #fff;text-shadow:-1px 1px 4px #426897}

	.site-header .other-pages {margin: 10px 10px 10px 0;padding:0}

		.site-header .other-pages li {display: inline-block;padding:0 25px}

			.site-header .other-pages li:first-child {border-right: 1px solid #fff}

		.site-header .other-pages a {font-size: 14px;color:#fff}

			.site-header .other-pages a:hover {text-decoration: underline}

	.site-header .site-branding {
		position: absolute;
		width: 100%;
		height: 130px!important
	 }

.menu-toggle {
	font: 14px/20px Arial,sans-serif;
	font-weight: 300;
	padding: 10px 22px;
	margin: 0
 }

	.menu-toggle:before {
		content: '2261';
		font-size: 14px;
		margin-right: 10px
	 }

.mobile-top-nav {display: none}

.logo-container {
	width: 100%;
	height: 115px;
	position: relative;
	z-index: 9
 }

	.logo-container .box {position: relative}

	.logo-container .clearfix {display: block}

	.logo-container #logo-link {
		display: block;
		width: 348px;
		height: 101px;
		white-space: initial
	 }

		.logo-container #logo-link:hover {text-decoration: none}

.searchform {
	width: 190px;
	height: 30px;
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 18px;
	position: relative;
	padding: 0 25px
 }

	.searchform #ico-magnify {
		width: 14px;
		height: 16px;
		background: url('../images/ico-search.png') no-repeat 0 0;
		position: absolute;
		top: 7px;
		left: 5px
	 }

	.searchform .field {
		width: 200px;
		padding: 7px 0;
		border: 0;
		background: 0;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden
	 }

	.searchform .submit {visibility: hidden}

.navigation-main a {
	display: block;
	color: #404041;
	margin: 0;
	padding: 15px 25px;
	position: relative;
	font-size: 15px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden
 }

	.navigation-main a:hover {text-decoration: none;background:#eee}

.mobile-search {display: none}

#mobile-nav {
	position: fixed;
	left: -80%;
	width: 80%;
	height: 100%;
	background: #5d8ac1;
	overflow: auto;
	z-index: 99999;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	-webkit-transition-timing-function: cubic-bezier(0.5,0,0,1);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
 }

	#mobile-nav .mobile-nav-box {
		width: 100%;
		position: relative;
		overflow: auto
	 }

	#mobile-nav .ceel-logo-mobile {
		width: 74px;
		height: 81px;
		background: url('../images/ceel_logo_mobile.png') no-repeat;
		margin: 0 20px
	 }

	#mobile-nav h2 {font-weight: normal;margin-left:50px}

		#mobile-nav h2 a {
			width: 260px;
			height: auto;
			padding: 0;
			color: #fff;
			font-size: 18px
		 }

	#mobile-nav .close-nav span {
		width: 50px;
		height: 50px;
		background: url('../images/mobile-nav-icons.png') no-repeat -50px 0;
		display: inline-block
	 }

	#mobile-nav .mobile-search {padding: 15px 20px}

		#mobile-nav .mobile-search .search-inputs {position: relative}

		#mobile-nav .mobile-search .searchform {width: 100%;padding:0}

		#mobile-nav .mobile-search input.field {
			position: absolute;
			left: 30px;
			top: 0;
			width: 80%
		 }

	#mobile-nav ul {margin: 0}

		#mobile-nav ul ul {margin-top: 15px}

	#mobile-nav .categories li {
		background: #fff;
		border-top: 1px solid #e2e2e2;
		padding: 15px 0
	 }

		#mobile-nav .categories li:active {background: #eee}

		#mobile-nav .categories li.menu-item-has-children {padding: 15px 0 0}

	#mobile-nav .categories a {
		background: #fff url('../images/mobile-nav-arrow.png') 100% 50% no-repeat;
		border: 0;
		margin: 0 20px;
		padding: 0
	 }

	#mobile-nav.on {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%)
	 }

.common-nav {
	background: #fff;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	position: absolute;
	top: auto;
	z-index: 9999
 }

	.common-nav .menu {width: 1020px;margin:0 auto}

	.common-nav ul {position: relative;z-index:9990}

	.common-nav .menu .sub-menu {
		display: none;
		width: 150px;
		background: #fff;
		border: 1px solid #dedede;
		border-top: 0;
		float: left;
		position: absolute;
		margin: 0;
		top: 50px;
		left: 0;
		z-index: 9990
	 }

		.common-nav .menu .sub-menu li a {
			width: 130px;
			padding: 10px;
			color: #818285
		 }

		.common-nav .menu .sub-menu li:hover {background: #eee}

	.common-nav li {float: left;position:relative}

		.common-nav li.current-menu-item {background: #eee}

			.common-nav li.current-menu-item:after {border-color: #a7bfdf}

			.common-nav li.current-menu-item:hover:after {cursor: default;border-color:#a7bfdf}

			.common-nav li.current-menu-item a {color: #000}

		.common-nav li.menu-item-has-children a {padding: 15px 64px 15px 39px;background:url('../images/menudrop-arrow.png') no-repeat 105px 22px}

			.common-nav li.menu-item-has-children a:hover {background: #eee url('../images/menudrop-arrow.png') no-repeat 105px 22px}

		.common-nav li.menu-item-has-children ul a {background: 0}

			.common-nav li.menu-item-has-children ul a:hover {background: #eee}

		.common-nav li.menu-item-has-children.current-menu-item {background: #eee url('../images/menudrop-arrow.png') no-repeat 105px 22px}

	.common-nav ul>.current_page_item ~ .current_page_item a:after,.common-nav ul>.current-menu-item ~ .current-menu-item a:after,.common-nav ul>.current-post-ancestor ~ .current-post-ancestor a:after,.common-nav ul>.current-menu-parent ~ .current-menu-parent a:after,.common-nav ul>.current-post-parent ~ .current-post-parent a:after,.common-nav ul ul li a:after {content: '';border:none!important}

	.common-nav ul ul ul {left: 100%;top:0}

	.common-nav ul ul a {width: 200px}

	.common-nav ul li:hover>.sub-menu {display: block}

	.common-nav.off {z-index: 999!important}

#fixed-nav {
	position: fixed;
	top: -50px;
	left: 0;
	background: url('../images/t-white-0.9.png');
	z-index: 99999;
	border-bottom: 1px solid #ddd
 }

	#fixed-nav:hover {background-color: #fff}

	#fixed-nav.sticky {top: 0}

#content .navigation-paging,#content .navigation-post,#content .tw-pagination {
	padding: 20px;
	background: #f8f8f8;
	text-align: center
 }

#content .tw-pagination a,#content .tw-pagination span {
	background: #fff;
	border: 1px solid #dedede;
	color: #818285;
	margin-right: 5px;
	padding: 5px 9px;
	text-align: center;
	text-decoration: none;
	border-radius: 0;
	box-shadow: none
 }

#content .tw-pagination a:hover,#content .tw-pagination span:hover {background: #dedede}

#content .tw-pagination .current {
	background: #ef7f00;
	color: #fff;
	border: 0
 }

	#content .tw-pagination .current:hover {cursor: default;background:#ef7f00}

#content .tw-pagination .title {padding: 0;border:0}

.site-footer {
	background: #fff;
	z-index: 10;
	position: relative
 }

	.site-footer .box-1 {width: 140px}

		.site-footer .box-1.last {padding-left: 20px}

	.site-footer .box-2 {width: 300px;padding-left:20px}

.footer-head {
	width: 100%;
	height: 40px;
	position: relative;
	padding-top: 20px
 }

	.footer-head .fl {margin-top: 10px}

	.footer-head h3 {
		font-family: Arial;
		font-size: 1em;
		font-weight: bold
	 }

.footer-links {
	width: 100%;
	position: relative;
	padding-bottom: 40px
 }

	.footer-links .box {background: url('../images/footer-bcg.png') no-repeat}

	.footer-links ul {margin: 0}

		.footer-links ul ul {margin: 0}

			.footer-links ul ul li {padding: 0}

	.footer-links a {
		font-size: 12px;
		color: #5d8ac1;
		text-decoration: none;
		display: block;
		border-bottom: 1px dashed #ccc;
		padding: 5px 0;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s
	 }

		.footer-links a:hover {
			color: #ef7f00;
			border-bottom: 1px solid #ef7f00;
			padding-left: 5px
		 }

	.footer-links .cultural .widget {list-style: none}

	.footer-links .cultural h2,.footer-links .cultural .duration,.footer-links .cultural .tribe-events-widget-link {display: none}

.footer-nav {
	width: 100%;
	height: 40px;
	background: #5d8ac1;
	position: relative
 }

	.footer-nav ul {padding-top: 10px}

	.footer-nav li {display: inline-block;margin-right:35px}

	.footer-nav a {font-size: .9em;color:#fff}

		.footer-nav a:hover {color: #ef7f00}

.copyright-wrapper {
	width: 100%;
	height: 50px;
	background: #5d8ac1;
	position: relative;
	padding: 20px 0
 }

	.copyright-wrapper p {
		font-size: 12px;
		color: #fff;
		margin: 0;
		padding-top: 5px
	 }

		.copyright-wrapper p span {display: inline-block;margin-left:25px}

	.copyright-wrapper #copyright {float: left}

	.copyright-wrapper .footer-social {display: none}

.widget-area {font-size: 12px}

	.widget-area .widget {
		margin: 0 0 20px;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 1px 1px #ccc
	 }

		.widget-area .widget .site-content article {padding: 20px}

		.widget-area .widget:last-child {margin: 0}

	.widget-area .widget-title {
		font-size: 18px;
		padding: 15px 10px;
		margin: 0 0 10px 0;
		border-bottom: 1px solid #404041;
		position: relative;
		overflow: hidden
	 }

		.widget-area .widget-title:after {
			content: " ";
			width: 100%;
			position: absolute;
			bottom: 1px;
			left: 0;
			border: 1px solid #404041
		 }

	.widget-area ul {margin: 0}

	.widget-area a {
		background: #fff;
		font-size: 12px;
		color: #5d8ac1;
		font-weight: bold;
		display: block;
		padding: 10px;
		border-top: 1px solid #eee;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s
	 }

		.widget-area a:hover {color: #ef7f00}

	.widget-area li:first-child,.widget-area li.frp-news:first-child {border: 0}

	.widget-area li:first-child a,.widget-area li.frp-news:first-child a {border: 0}

	.widget-area .widget_synved_social_follow {
		margin: 20px 0;
		background: 0;
		border-radius: 0;
		box-shadow: none
	 }

		.widget-area .widget_synved_social_follow h1 {display: none}

		.widget-area .widget_synved_social_follow img {
			opacity: .7;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			transition: all .3s;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%)
		 }

		.widget-area .widget_synved_social_follow a {display: inline-block;padding:10px}

			.widget-area .widget_synved_social_follow a:hover img {
				opacity: 1;
				-webkit-filter: grayscale(0);
				-moz-filter: grayscale(0);
				filter: grayscale(0)
			 }

.frp-widget-wrapper a {
	border: 0;
	line-height: 1.3;
	padding: 0
 }

	.frp-widget-wrapper a img {padding: 10px 0 10px 10px}

.frp-widget-wrapper .frp-widget .frp-left {margin-top: 3px}

.frp-widget-wrapper .frp-widget .frp-news {
	border-top: 1px solid #eee;
	margin: 0;
	overflow: hidden
 }

.frp-widget-wrapper .frp-widget .news-widget-info {
	display: table;
	width: auto;
	padding: 10px
 }

.frp-widget-wrapper .frp-widget .news-widget-title a {padding: 0}

.frp-widget-wrapper .frp-widget p {margin: 0}

.frp-widget-wrapper .frp-all-category-news-footer {
	background: #5d8ac1;
	text-align: left;
	margin: 10px 0 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 10px
 }

	.frp-widget-wrapper .frp-all-category-news-footer a {
		border: 0;
		font-size: 12px;
		color: #fff;
		background: 0;
		font-weight: bold
	 }

		.frp-widget-wrapper .frp-all-category-news-footer a:hover {text-decoration: underline}

.widget.widget_buffercode_random_banner_info,#dk-image-rotator-widget-2 {width: 262px;padding:9px}

.widget.widget_buffercode_random_banner_info h1,#dk-image-rotator-widget-2 h1 {display: none}

.widget.widget_buffercode_random_banner_info a,#dk-image-rotator-widget-2 a {padding: 0}

.widget.widget_buffercode_random_banner_info img,#dk-image-rotator-widget-2 img {
	max-width: 100%;
	width: 262px;
	height: auto
 }

.widget.widget_wysija form {text-align: right}

.widget.widget_wysija .wysija-paragraph {text-align: left;margin:20px 10px 0}

.widget.widget_wysija input[type="text"] {width: 248px}

.widget.widget_wysija input[type="submit"] {
	width: 260px;
	display: inline-block;
	margin: 10px
 }

.widget.widget_wysija h1 {margin: 0}

.widget.widget_wysija .updated {
	background: #5d8ac1 url('../images/white_tick.png') no-repeat 10px 50%;
	border: 0;
	color: #fff;
	padding: 10px 10px 10px 40px;
	margin: 0
 }

.tribe-events-list-widget ol {margin: 0}

	.tribe-events-list-widget ol li {
		position: relative;
		margin-bottom: 20px;
		list-style: none
	 }


	.tribe-events-list-widget .duration {
		font-size: 12px;
		font-weight: normal;
		color: #818285;
		padding: 0 10px;
	 }

.tribe-events-list-widget .tribe-events-widget-link {
	background: #5d8ac1;
	text-align: left;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin: 10px 0 0
 }

	.tribe-events-list-widget .tribe-events-widget-link a {
		border: 0;
		font-size: 12px;
		color: #fff;
		background: 0;
		font-weight: bold
	 }

		.tribe-events-list-widget .tribe-events-widget-link a:hover {text-decoration: underline}

.widget_archive a {display: inline-block}

.synved-social-credit {display: none!important}

.widget_synved_social_follow img {
	opacity: .7;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
 }

.widget_synved_social_follow a {display: inline-block}

	.widget_synved_social_follow a:hover img {opacity: 1}

.footer-social {float: right}

	.footer-social img {
		opacity: .7;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%)
	 }

	.footer-social a {display: inline-block}

		.footer-social a:hover img {
			opacity: 1;
			-webkit-filter: grayscale(0);
			-moz-filter: grayscale(0);
			filter: grayscale(0)
		 }

#page {
	background: #f2f0ec;
	width: 100%;
	position: relative;
	padding: 50px 0 30px;
	z-index: 9
 }

#main {
	padding: 40px 0;
	clear: both;
	position: relative
 }

#primary {
	float: left;
	width: 720px;
	margin-right: 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc
 }

	#primary .site-content article {padding: 20px}

#secondary {
	width: 280px;
	position: absolute;
	right: 0;
	top: 40px
 }

.site-content .desc h2 {margin-top: 0}

.site-content article {
	overflow: hidden;
	background: #fff;
	margin: 0;
	border-bottom: 1px solid #eee
 }

	.site-content article .image {padding: 0;float:left}

		.site-content article .image img {padding: 0 20px 0 0}

	.site-content article .desc {padding: 0;display:table}

.site-content .entry-content,.site-content .entry-header {-ms-word-wrap: break-word;word-wrap:break-word}

.site-content .entry-summary {
	height: 60px;
	overflow: hidden;
	clear: left;
	margin: 10px 0
 }

.news-container {
	width: 100%;
	height: 420px;
	background: #333;
	margin: 0 auto;
	padding: 0;
	position: relative;
	z-index: 1
 }

	.news-container .contents {
		width: 940px;
		height: 350px;
		margin: 0 auto;
		padding: 0;
		position: relative;
		top: 30px
	 }

	.news-container .shadow {
		width: 200px;
		height: 420px;
		background: url('../images/slide-bcg.png') repeat-y;
		position: absolute;
		z-index: 9999
	 }

		.news-container .shadow.left {background-position: 0 0;left:0}

		.news-container .shadow.right {background-position: -315px 0;right:0}

		.news-container .shadow.bottom {
			width: 940px;
			height: 63px;
			background: url('../images/slide_bottom_shadow.png') no-repeat;
			position: absolute;
			bottom: -35px;
			left: 0;
			z-index: 1
		 }

	.news-container .controls {position: absolute;width:100%}

	.news-container .news-turn {
		width: 100px;
		height: 350px;
		background: 0;
		position: absolute;
		z-index: 9999;
		top: 100px;
		opacity: 1
	 }

		.news-container .news-turn:hover {cursor: pointer}

		.news-container .news-turn .arrow {
			width: 50px;
			height: 80px;
			background: url('../images/slidenav-arrows.png') no-repeat;
			position: absolute;
			top: 30px;
			-webkit-transition: all .4s;
			-moz-transition: all .4s;
			transition: all .4s;
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			transform: scale(0.8)
		 }

			.news-container .news-turn .arrow.left {background-position: 0 0;left:0}

			.news-container .news-turn .arrow.right {background-position: -51px 0;right:0}

		.news-container .news-turn:hover .arrow {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			transform: scale(1)
		 }

		.news-container .news-turn:active .arrow {
			-webkit-transform: scale(0.9);
			-moz-transform: scale(0.9);
			transform: scale(0.9);
			-webkit-transition-duration: .2s!important;
			-moz-transition-duration: .2s!important;
			-ms-transition-duration: .2s!important;
			transition-duration: .2s!important
		 }

	.news-container #turn-left {left: -140px}

	.news-container #turn-right {right: -140px}

	.news-container .slider {
		width: 940px;
		height: 350px;
		position: relative;
		z-index: 10;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		transition: all 1s
	 }

	.news-container .slide {
		width: 940px;
		height: 350px;
		float: left;
		opacity: .1;
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		transition: all 1s;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		transform: scale(0.9)
	 }

		.news-container .slide .news {
			position: relative;
			background: #fff;
			float: left
		 }

		.news-container .slide .others {
			width: 470px;
			height: 350px;
			float: left;
			margin-left: 10px
		 }

		.news-container .slide img {display: block}

		.news-container .slide .desc {
			background: #fff;
			padding: 10px;
			overflow: hidden
		 }

		.news-container .slide h1 {
			font-size: 13px;
			margin: 0 0 5px;
			font-weight: normal
		 }

			.news-container .slide h1 a {color: #ef7f00}

		.news-container .slide h2 {
			font-size: 14px;
			font-weight: normal;
			margin: 0;
			line-height: 1.2
		 }

			.news-container .slide h2 a {color: #404041}

		.news-container .slide p {
			margin: 0;
			color: #aaa;
			font-size: 12px
		 }

		.news-container .slide .big {width: 460px;height:350px}

			.news-container .slide .big img {width: 100%;height:260px}

			.news-container .slide .big .desc {width: 440px;height:70px}

		.news-container .slide .medium {
			width: 470px;
			height: 140px;
			margin-bottom: 10px
		 }

			.news-container .slide .medium img {
				width: 250px;
				height: 140px;
				position: absolute;
				right: 0
			 }

			.news-container .slide .medium .desc {width: 200px;height:120px}

		.news-container .slide .small {
			width: 190px;
			height: 200px;
			margin-right: 10px
		 }

			.news-container .slide .small img {width: 100%;height:100px}

			.news-container .slide .small .desc {width: 170px;height:80px}

		.news-container .slide .text {
			width: 250px;
			height: 180px;
			padding: 10px
		 }

			.news-container .slide .text .desc {
				width: 250px;
				height: 180px;
				padding: 0
			 }

			.news-container .slide .text h2 {margin-bottom: 10px}

			.news-container .slide .text p {
				color: #818285;
				line-height: 1.5;
				height: 92px;
				overflow: hidden
			 }

			.news-container .slide .text a.more {font-size: 12px}

		.news-container .slide.active {
			opacity: 1;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			transform: scale(1)
		 }

.newsshadow-bottom {
	width: 100%;
	height: 52px;
	background: url('../images/newsshadow-bottom.png') no-repeat 50% 0;
	position: absolute;
	top: 400px;
	left: 0;
	z-index: 8
 }

span.author-post-rating-label {display: none}

div.author-post-rating {float: left;margin:0 10px 0 0}

.date {
	font-size: .9em;
	color: #404041;
	float: left;
	margin: 0 0 10px
 }

.all-news {position: relative;width:720px}

.see-more {
	background: #f8f8f8;
	margin: 0;
	padding: 0;
	border-top: 1px solid #eee;
	text-align: right
 }

	.see-more a {
		display: inline-block;
		background: #5d8ac1;
		color: #fff;
		font-size: 14px;
		font-weight: normal;
		text-decoration: none;
		padding: 10px 20px;
		margin: 20px;
		border: 0;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
		background: #ef7f00
	 }

		.see-more a:hover,.see-more a:focus {background: #4170aa}

		.see-more a:active {background: #4170aa}

		.see-more a:hover,.see-more a:focus {background: #bc6400}

		.see-more a:active {background: #bc6400}

.featured-content {
	width: 100%;
	margin-bottom: 50px;
	float: left;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc
 }

	.featured-content .site-content article {padding: 20px}

	.featured-content article {
		width: 100%;
		margin: 0;
		padding: 0
	 }

		.featured-content article h2 {border: 0}

	.featured-content .entry-thumbnail {position: relative;padding:20px 20px 0}

	.featured-content .entry-header {padding: 0 20px}

	.featured-content:first-child {border: 0;padding-top:0}

	.featured-content.secondary {
		width: 100%;
		background: 0;
		box-shadow: none;
		border-radius: 0
	 }

		.featured-content.secondary .row {margin-bottom: 50px}

		.featured-content.secondary .col-1 {
			float: left;
			width: 500px;
			margin-right: 20px
		 }

			.featured-content.secondary .col-1:nth-child(2n) {margin-right: 0}

		.featured-content.secondary .wrap {
			background: #fff;
			border-radius: 3px;
			box-shadow: 0 1px 1px #ccc
		 }

			.featured-content.secondary .wrap .site-content article {padding: 20px}

		.featured-content.secondary .main-post {min-height: 270px;padding:20px 20px 0}

			.featured-content.secondary .main-post .entry-thumbnail {max-height: 280px;overflow:hidden}

		.featured-content.secondary article {margin-right: 10px;width:100%}

		.featured-content.secondary .entry-thumbnail {padding: 0}

		.featured-content.secondary .entry-header {padding: 0;overflow:hidden}

		.featured-content.secondary .followup {margin-top: 10px}

			.featured-content.secondary .followup .entry-thumbnail {padding: 20px 0 20px 20px}

			.featured-content.secondary .followup .entry-header {padding: 20px}

			.featured-content.secondary .followup .rating {padding-left: 0}

			.featured-content.secondary .followup .date {float: none}

.followup {margin: 30px 0}

	.followup article {
		overflow: hidden;
		position: relative;
		display: block;
		border-top: 1px solid #eee
	 }

		.followup article .entry-thumbnail {float: left;padding:20px 0 20px 20px}

		.followup article .entry-header {
			display: table;
			margin: 0;
			padding: 20px 20px 0;
			min-height: 60px;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			transition: all .3s
		 }

		.followup article h2 {
			font-size: 16px;
			padding: 0 0 5px;
			margin: 0
		 }

	.followup .alist {height: auto}

	.followup .article-list li {background: url('../images/listitem-blue.png') 0 4px no-repeat}

	.followup .article-list h3 {padding: 0}

	.followup h3 {font-size: 16px;font-weight:bold}

	.followup p.date {font-size: 12px}

.category #main h1.page-title {color: #ef7f00}

.category .site-content article {padding: 20px}

.single-post .site-content article {padding: 0}

.single-post .site-content .entry-meta {
	padding: 20px 0;
	border-top: 1px solid #eee;
	margin-top: 40px;
	overflow: auto
 }

	.single-post .site-content .entry-meta img {
		float: left;
		padding: 0 20px;
		width: 140px
	 }

	.single-post .site-content .entry-meta .author {
		padding: 0 20px;
		font-size: 18px;
		color: #404041;
		display: block
	 }

#content .shortcode-author-avatars div.author-list .user {
	text-align: left;
	padding: 40px 0;
	border-top: 1px solid #eee;
	float: none
 }

	#content .shortcode-author-avatars div.author-list .user .avatar {
		width: 200px;
		float: left;
		text-align: left;
		margin-right: 20px
	 }

	#content .shortcode-author-avatars div.author-list .user h2 {
		font-size: 18px;
		color: #404041;
		margin: 0
	 }

	#content .shortcode-author-avatars div.author-list .user h3 {
		font-weight: normal;
		color: #ef7f00;
		display: inline-block;
		margin: 10px 0 20px 0;
		border-left: 1px solid #d6d6d6;
		padding: 0 10px
	 }

	#content .shortcode-author-avatars div.author-list .user .name+h3 {border: 0;padding-left:0}

	#content .shortcode-author-avatars div.author-list .user .biography {display: table}

		#content .shortcode-author-avatars div.author-list .user .biography a {float: none}

.entry-content .contacts-box {position: relative}

	.entry-content .contacts-box p {margin-bottom: 15px}

	.entry-content .contacts-box .details {
		position: absolute;
		top: 0;
		left: 648px;
		width: 260px
	 }

		.entry-content .contacts-box .details ul {width: 260px;list-style:none}

		.entry-content .contacts-box .details li {float: left}

			.entry-content .contacts-box .details li.name {width: 25px;margin-right:20px}

			.entry-content .contacts-box .details li.field {width: 215px;margin-bottom:40px}

				.entry-content .contacts-box .details li.field h4 {
					line-height: 1;
					font-size: 16px;
					font-weight: bold;
					color: #404041;
					margin: 0;
					padding: 0
				 }

				.entry-content .contacts-box .details li.field a,.entry-content .contacts-box .details li.field span {
					font-size: 14px;
					color: #818285;
					line-height: 1.4em
				 }

				.entry-content .contacts-box .details li.field p,.entry-content .contacts-box .details li.field a {line-height: 1;margin:0}

	.entry-content .contacts-box .social_contact {padding-left: 40px}

	.entry-content .contacts-box input[type="text"],.entry-content .contacts-box input[type="email"],.entry-content .contacts-box input[type="password"],.entry-content .contacts-box textarea {width: 578px;padding:10px}

	.entry-content .contacts-box input[type="text"]:focus,.entry-content .contacts-box input[type="email"]:focus,.entry-content .contacts-box input[type="password"]:focus,.entry-content .contacts-box textarea:focus,.entry-content .contacts-box input[type="text"]:hover,.entry-content .contacts-box input[type="email"]:hover,.entry-content .contacts-box input[type="password"]:hover,.entry-content .contacts-box textarea:hover {border-color: #aaa}

	.entry-content .contacts-box input[type="submit"] {
		float: right;
		background: #ef7f00;
		margin: 0;
		padding: 10px 40px
	 }

	.entry-content .contacts-box form.invalid input[type="submit"] {
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
		margin-right: 10px
	 }

	.entry-content .contacts-box span.wpcf7-not-valid-tip {
		background: #feeeef;
		color: #f42c38;
		border: 1px solid #ddd;
		border-top: 0;
		display: block;
		margin-bottom: 30px;
		padding: 2px 5px
	 }

	.entry-content .contacts-box .wpcf7-response-output {
		display: none;
		border: 0;
		margin: -45px 0 0;
		padding: 17px 10px;
		background: #feeeef;
		color: #f42c38
	 }

	.entry-content .contacts-box div.wpcf7-mail-sent-ok {background: #fff;color:#589e17}

.section {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc
 }

.reset {
	background: 0;
	border-radius: 0;
	box-shadow: none
 }

#primary.language-courses {
	background: 0;
	border-radius: 0;
	box-shadow: none
 }

	#primary.language-courses h1 {color: #ef7f00}

	#primary.language-courses .head {padding: 20px;width:auto}

		#primary.language-courses .head h2 {padding-left: 60px}

		#primary.language-courses .head span {position: absolute}

		#primary.language-courses .head.active {background: #f8f8f8;margin-top:10px}

	#primary.language-courses .body {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		background: #fff
	 }

	#primary.language-courses .language {
		background: 0;
		margin: 0;
		border-top: 1px solid #eee
	 }

		#primary.language-courses .language:first-child {
			border: 0;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0
		 }

			#primary.language-courses .language:first-child .head {
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0
			 }

				#primary.language-courses .language:first-child .head.active {margin-top: 0}

		#primary.language-courses .language header {overflow: auto}

			#primary.language-courses .language header h2 {float: left;margin:0}

			#primary.language-courses .language header .price {
				float: right;
				font-weight: bold;
				margin: 0
			 }

		#primary.language-courses .language .details ul {margin-left: 0}

			#primary.language-courses .language .details ul span {display: inline-block;margin-right:5px}

		#primary.language-courses .language .details .additional {font-size: 13px}

		#primary.language-courses .language .details .title {line-height: 1;font-weight:bold}

		#primary.language-courses .language .details .desc {color: #818285;margin-bottom:10px}

		#primary.language-courses .language .entry-summary {height: auto}

	#primary.language-courses .courses {display: none}

	#primary.language-courses article {
		background: 0;
		border: 0;
		border-top: 1px solid #eee;
		padding: 20px 0;
		margin: 0 20px
	 }

		#primary.language-courses article:first-child {border: 0}

.reveal {
	position: absolute;
	top: 30px;
	right: 20px;
	font-size: 14px;
	color: #ef7f00
 }

	.reveal span {
		background: url('../images/acc_arrow.png') no-repeat 0 -11px;
		position: absolute;
		width: 18px;
		height: 11px;
		left: -22px;
		top: 5px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s
	 }

.head,.body {position: relative;width:100%}

.head {
	background: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
 }

	.head:hover {cursor: pointer;background:#f2f2f2}

	.head.active {background: #f8f8f8}

		.head.active .reveal span {background-position: 0 0}

.body {display: none;border-top:2px solid #ef7f00}

#useful-contacts ul {margin: 0 0 0 15px}

#useful-contacts li {margin: 0 0 5px}

#tribe-events .tribe-events-back {margin: 0;padding:0 0 20px}

	#tribe-events .tribe-events-back a {font-weight: normal;font-size:16px}

#tribe-events-bar {
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc;
	background: #fff;
	height: 100px;
	border-right: 1px solid #eee
 }

	#tribe-events-bar .site-content article {padding: 20px}

	#tribe-events-bar .tribe-bar-views-inner {
		background: #f8f8f8;
		height: 100px;
		border-right: 1px solid #eee
	 }

		#tribe-events-bar .tribe-bar-views-inner label {margin: 0 0 10px;padding:0 20px}

		#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list {padding-left: 20px}

			#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option a {
				white-space: initial;
				background: 0;
				font-size: 13px;
				color: #818285;
				padding: 5px 0 5px 22px
			 }

				#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option a span {
					background: url('../images/ico_eventview.png') no-repeat 0 0;
					width: 18px;
					height: 16px;
					padding: 0;
					position: absolute;
					left: 0;
					top: 3px
				 }

					#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option a span.tribe-icon-upcoming {background-position: 0 0}

					#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option a span.tribe-icon-month {background-position: -18px 0}

				#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option a:hover {background: 0;color:#404041}

					#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option a:hover span {background-position-y: -16px}

			#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a {color: #ef7f00}

				#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a span {background-position-y: -32px}

				#tribe-events-bar .tribe-bar-views-inner .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {cursor: default}

	#tribe-events-bar #tribe-bar-form {background: #fff;height:100px}

		#tribe-events-bar #tribe-bar-form #tribe-bar-views {left: 0;padding:0}

			#tribe-events-bar #tribe-bar-form #tribe-bar-views li {
				display: block;
				position: relative;
				margin: 0 0 5px
			 }

		#tribe-events-bar #tribe-bar-form .tribe-bar-filters {right: 0}

		#tribe-events-bar #tribe-bar-form input[type="text"] {
			margin: 25px 0 0;
			font-weight: normal;
			font-size: 14px;
			color: #818285;
			font-family: Helvetica
		 }

		#tribe-events-bar #tribe-bar-form .tribe-bar-submit {
			width: auto;
			float: right;
			margin: 0 20px
		 }

			#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit] {
				display: inline-block;
				background: #5d8ac1;
				color: #fff;
				font-size: 14px;
				font-weight: normal;
				text-decoration: none;
				padding: 10px 20px;
				margin: 20px;
				border: 0;
				border-radius: 3px;
				cursor: pointer;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				transition: all .3s;
				background: #ef7f00;
				margin-top: 25px
			 }

				#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit]:hover,#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit]:focus {background: #4170aa}

				#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit]:active {background: #4170aa}

				#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit]:hover,#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit]:focus {background: #bc6400}

				#tribe-events-bar #tribe-bar-form .tribe-bar-submit input[type=submit]:active {background: #bc6400}

#tribe-events-content {
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 1px #ccc;
	padding: 0;
	clear: left;
 }

	#tribe-events-content .site-content article {padding: 20px;}

	#tribe-events-content h2 {
		text-align: left;
		padding: 20px 20px 0;
		font-size: 28px;
		color: #404041;
	 }

	 .tribe-events-list .tribe-events-event-cost {
		position: absolute;
		right: 0;
	}

	#tribe-events-content .tribe-events-loop {margin: 0 auto;max-width:100%;}

	#tribe-events-content .tribe-events-list-separator-month {
		text-align: left;
		padding: 0;
		font-size: 18px;
		color: #ef7f00;
		margin: 60px 0 40px 20px;
	 }

	 #tribe-events-content .tribe-events-list-separator-month:first-child{
	 	margin:20px 0 40px 20px;
	 }

		#tribe-events-content .tribe-events-list-separator-month span {padding: 0;}

		#tribe-events-content .tribe-events-list-separator-month:after {border: 0;}

	#tribe-events-content .tribe-events-notices {
		padding: 20px;
		border-radius: 0;
		border-width: 1px 0;
	 }

	#tribe-events-content table.tribe-events-calendar {width: 90%;margin:0 auto 40px;}

	#tribe-events-content .event {
		width: 80%;
		border-bottom: 1px solid #d6d6d6;
		margin: 0 auto;
		padding: 0;
	 }

		#tribe-events-content .event a {white-space: initial;}

		#tribe-events-content .event .head {height: 120px; padding: 0 0 20px;}

			#tribe-events-content .event .head:hover {background: #eee;}

			#tribe-events-content .event .head.active {background: #f2f2f2;}

		#tribe-events-content .event .body {background: #f2f2f2;}

		#tribe-events-content .event ul {
			margin: 0;
			padding: 40px 20px;
			list-style: none;
			overflow: auto;
		 }

		#tribe-events-content .event li {float: left;}

			#tribe-events-content .event li.flag,#tribe-events-content .event li.icon {width: 40px; margin-right:10px;}

			#tribe-events-content .event li.title {width: 415px;margin-right:10px;}

				#tribe-events-content .event li.title h2 {
					width: 415px;
					font-size: 18px;
					color: #000;
					margin: 0;
					padding: 0;
					line-height: 1.2;
				 }

				#tribe-events-content .event li.title h3 {
					font-size: 14px;
					color: #818285;
					font-weight: normal;
					margin: 0;
					padding: 0;
				 }

			#tribe-events-content .event li.time {
				position: absolute;
				top: 40px;
				right: 20px;
				text-align: right;
			 }

				#tribe-events-content .event li.time .date-start {
					display: block;
					font-size: 18px;
					color: #404041;
				 }

				#tribe-events-content .event li.time .whatever {color: #818285;}

			#tribe-events-content .event li.icon {position: relative;min-height:10px;}

				#tribe-events-content .event li.icon span {
					width: 21px;
					height: 32px;
					background: url('../images/eventmap_ico.png') no-repeat;
					position: absolute;
					top: -7px;
				 }

			#tribe-events-content .event li.desc {width: 670px;}

				#tribe-events-content .event li.desc a {display: block;margin-bottom:20px;}

				#tribe-events-content .event li.desc h4 {margin: 0;}

					#tribe-events-content .event li.desc h4 a {margin: 0 0 0 5px;float:left;}

				#tribe-events-content .event li.desc .tribe-events-address {float: left;}

				#tribe-events-content .event li.desc .adr {font-weight: bold;text-transform:uppercase;}

		#tribe-events-content .event .reveal {top: 90px;}

		#tribe-events-content .event:last-child {border: 0;}

	#tribe-events-content #tribe-events- {
		background: #f8f8f8;
		margin: 0;
		padding: 0;
		border-top: 1px solid #eee;
		text-align: right;
		margin: 40px 0 0;
	 }

		#tribe-events-content #tribe-events- a {
			display: inline-block;
			background: #5d8ac1;
			color: #fff;
			font-size: 14px;
			font-weight: normal;
			text-decoration: none;
			padding: 10px 20px;
			margin: 20px;
			border: 0;
			border-radius: 3px;
			cursor: pointer;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			transition: all .3s;
			background: #ef7f00;
		 }

			#tribe-events-content #tribe-events- a:hover,#tribe-events-content #tribe-events- a:focus {background: #4170aa;}

			#tribe-events-content #tribe-events- a:active {background: #4170aa;}

			#tribe-events-content #tribe-events- a:hover,#tribe-events-content #tribe-events- a:focus {background: #bc6400;}

			#tribe-events-content #tribe-events- a:active {background: #bc6400;}

		#tribe-events-content #tribe-events- a {margin: 20px 0;}

		#tribe-events-content #tribe-events- .tribe-events-sub-nav {padding: 0 20px;}

			#tribe-events-content #tribe-events- .tribe-events-sub-nav .btn.red {margin: 20px 0;}

			#tribe-events-content #tribe-events- .tribe-events-sub-nav span {position: relative;top:-1px;}

	#tribe-events-content #tribe-events-footer {
		background: #f8f8f8;
		margin: 0;
		padding: 0;
		border-top: 1px solid #eee;
		text-align: right;
		margin-top: 50px;
	 }

		#tribe-events-content #tribe-events-footer a {
			display: inline-block;
			background: #5d8ac1;
			color: #fff;
			font-size: 14px;
			font-weight: normal;
			text-decoration: none;
			padding: 10px 20px;
			margin: 20px;
			border: 0;
			border-radius: 3px;
			cursor: pointer;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			transition: all .3s;
			background: #ef7f00;
		 }

			#tribe-events-content #tribe-events-footer a:hover,#tribe-events-content #tribe-events-footer a:focus {background: #4170aa;}

			#tribe-events-content #tribe-events-footer a:active {background: #4170aa;}

			#tribe-events-content #tribe-events-footer a:hover,#tribe-events-content #tribe-events-footer a:focus {background: #bc6400;}

			#tribe-events-content #tribe-events-footer a:active {background: #bc6400;}

.tribe-events-calendar div[id*="tribe-events-daynum-"] {background: #5d8ac1;}

	.tribe-events-calendar div[id*="tribe-events-daynum-"] a {background: 0;}

.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] {background: #5d8ac1;}

	.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] a {background: 0;}

.page .site-content article {padding: 20px;}

.expound-full-width #primary,.expound-full-width .entry-content {width: 100%;}

.expound-full-width #secondary {display: none;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
 }

.clearfix {display: inline-block;}

html[xmlns] .clearfix {display: block;}

* html .clearfix {height: 1%;}

.clear {
	display: block;
	clear: both;
	height: 0;
	width: 100%;
 }

@media(max-width:1080px) {

	.box {width:auto;padding:0 20px;}

	.site-header .tagline {left: 135px;}

	#main {padding: 40px 20px;}

	#primary {width: 680px;}

	#secondary {right: 20px;}

	.all-news {width: 680px;}

	.news-container #turn-left {left: 0;}

	.news-container #turn-right {right: 0;}

	.featured-content.secondary .col-1 {width: 480px;}

}

@media(max-width:960px) {

	.site-header{padding:0;height:60px;}

#site-navigation {display: none;}

#ceel.toggled .menu-toggle {background: #eee;}

.mobile-top {
	display: block;
	height: 60px;
	width: 100%;
	overflow: hidden;
	z-index: 999;
	background: #5d8ac1;
	background: url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwOWVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzVkOGFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzVkOGFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#809ec4),color-stop(45%,#5d8ac1),color-stop(56%,#5d8ac1));
	background: -webkit-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -o-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: -ms-linear-gradient(top,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	background: linear-gradient(to bottom,#809ec4 0,#5d8ac1 45%,#5d8ac1 56%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#809ec4',endColorstr='#5d8ac1',GradientType=0);
 }

	.mobile-top ul {margin: 0;}

	.mobile-top li {
		width: 50px;
		height: 100%;
		padding: 5px;
		float: left;
	 }

		.mobile-top li span,.mobile-top li a {
			width: 50px;
			height: 50px;
			display: block;
		 }

		.mobile-top li:active {background: #2c4c73;}

	.mobile-top .left-nav {float: left;}

	.mobile-top .right-nav {float: right;}

		.mobile-top .right-nav .mobile-search {
			position: absolute;
			top: 15px;
			right: 130px;
			display: none;
		 }

			.mobile-top .right-nav .mobile-search form {
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				transition: all .5s;
				width: 0;
				opacity: 0;
			 }

			.mobile-top .right-nav .mobile-search.on form {width: 190px;opacity:1;}

	.mobile-top.main-bar {
		position: fixed;
		top: 0;
		left: 0;
	 }

		.mobile-top.main-bar span,.mobile-top.main-bar a {
			width: 50px;
			height: 50px;
			background: url('../images/mobile-nav-icons.png') no-repeat;
			display: block;
		 }

		.mobile-top.main-bar .ceel-logo {
			width: 177px;
			height: 48px;
			background: url('../images/ceel_mobile.png') no-repeat;
		 }

		.mobile-top.main-bar .home-btn {background-position: 0 0;}

		.mobile-top.main-bar .search-btn {background-position: 0 -50px;}

		.mobile-top.main-bar .about-btn {background-position: 0 -100px;}

		.mobile-top.main-bar .contact-btn {background-position: 0 -150px;}

	.mobile-top.side-nav {height: 90px;}

#fixed-nav {display: none;}

.logo-container {display: none;}

	.logo-container #search-box {position: absolute;top:119px;}

		.logo-container #search-box #searchform {
			float: right;
			margin-right: 20px;
			width: 0;
			padding: 0 10px;
			border: 0;
			background: 0;
		 }

			.logo-container #search-box #searchform .field {display: none;}

.footer-head,.footer-links,.news-container {display: none;}

.copyright-wrapper .footer-social {display: block;}

#page {padding-top: 0;}

#main {padding: 20px;}

#secondary {right: -300px;display:none;}

.boxshadow-bottom {top: 0;}

.red-title {padding: 15px 0 10px;margin:0 20px;}

.all-news {width: auto;}

.featured-content.secondary .row {margin: 0;}

.featured-content.secondary .col-1 {width: 100%;margin:0 0 20px;}

#primary {width: 100%;margin:0;}

.category #main h1.page-title {margin-left: 20px;}

.site-content article .image {float: none;}

.site-content article .desc {display: block;}

	.site-content article .desc h2 {font-size: 18px;}

.single-post h1 {font-size: 21px;}

#tribe-events-bar,#tribe-events-bar #tribe-bar-form,#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
	height: auto;
	padding-bottom: 0;
	background: #fff;
 }

#tribe-bar-form label {display: none;}

#tribe-events-bar #tribe-bar-form #tribe-bar-views li {float: left;margin:10px 30px 0 0;}

#tribe-mobile-container {padding: 20px;}

.entry-content .contacts-box input[type="text"],.entry-content .contacts-box input[type="email"],.entry-content .contacts-box input[type="password"],.entry-content .contacts-box textarea {
	width: 100%;
	padding: 10px 0;
	text-indent: 10px;
 }

.entry-content .contacts-box {display: block;}

	.entry-content .contacts-box div.fl {float: none;}

	.entry-content .contacts-box .details {position: static;float:none;}

	.entry-content .contacts-box ul {margin: 30px 0;}

	.entry-content .contacts-box .social_contact {padding: 20px 0;}

}

@media(max-width:720px) {

	#main{padding:20px 0;}

}

@media(max-width:480px) {
	#mobile-nav{left:-90%;width:90%;}

	#mobile-nav .ceel-logo-mobile {margin: 0 10px;}

	#mobile-nav h2 {margin-left: 35px;}

	#mobile-nav h2 a {font-size: 16px;margin-top:30px;}

}