/* RESET
_____________________________________ */
/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,#footer,#header,hgroup,menu,nav,section,summary,time,mark,audio,video { margin:0; padding:0; border:0; outline:0; font-size:100%; font:inherit; vertical-align:baseline; }
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,#footer,#header,hgroup,menu,nav,section { display:block; }
nav ul { list-style:none; }
table{ border-collapse:collapse; border-spacing:0; }

*, *:after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}

/* TINYMCE in admin
--------------------------------------------------------- */
#tinymce { padding: 2em !important; }
#tinymce .gallery-item {  }
#tinymce .gallery-icon { width: auto; display: block; font-weight: normal; position: relative; }
#tinymce .gallery-caption, #tinymce .wp-caption-dd { display: none; }
#tinymce .wp-caption { background: none; border: 0; }
#tinymce .gallery dl { clear: none; display: block; }
#tinymce .gallery img { margin-bottom: 0; }

/* WYSIWYG TEXT STYLES
--------------------------------------------------------- */
html { font-size: 62.5%; }
body { font-family: sans-serif; font-size: 1.6em;  }

.button { display: inline-block; height: auto; padding: 7px 12px; font-weight: normal; font-size: .85em; line-height: 1.2; text-align: center; cursor: pointer; border: 2px solid; border-radius: 20px; background: transparent; margin: 0 .5em 10px 0; text-decoration: none !important; letter-spacing: 0.1em; color: #EA8E00; z-index: 2; overflow: hidden; position: relative; vertical-align: middle; outline: 0; 
-webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; }

h1 { font-family: 'brandon-grotesque', sans-serif; font-weight: normal; font-size: 36pt; margin: 0 0 .5em 0; line-height: 1.1; }
h2 { font-family: 'brandon-grotesque', sans-serif; font-weight: normal; font-size: 26pt; text-transform: uppercase; letter-spacing: .2em; margin: 0 0 .5em 0; line-height: 1.3; }
h3 { font-family: 'brandon-grotesque', sans-serif; font-weight: normal; font-size: 14pt; margin: 0 0 .5em 0; line-height: 1.4; letter-spacing: .2em; text-transform: uppercase; }
h4 { font-weight: bold; font-size: 14pt; margin: 0 0 .5em 0; line-height: 1.4; letter-spacing: .1em; text-transform: uppercase; }
h5 { font-weight: bold; font-size: 13pt; margin: 0 0 .5em 0; line-height: 1.4; letter-spacing: .2em; text-transform: uppercase; }
h6 { font-weight: bold; font-size: 1em; margin: 0 0 .8em 0; line-height: 1.4; letter-spacing: .2em; text-transform: uppercase; }
p { padding: 0 0 2em 0; line-height: 1.6; }
ul, ol { padding: 0 0 2em 2em; line-height: 1.6; list-style: disc; }
ol { list-style: decimal; }
strong, input, button, .button { font-weight: bold; }
nav ul { list-style: none; }
em { font-style: italic; } 
a { text-decoration: underline; 
-webkit-transition: all .2s ease; -moz-transition: all .2s ease; -ms-transition: all .2s ease; -o-transition: all .2s ease; transition: all .2s ease; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: none; }
a:hover { text-decoration: none;  } 
img { border: 0; margin-top: 5px; margin-bottom: 2em; max-width: 100%; height: auto; }
p img, h2 img { vertical-align: middle; margin-bottom: 5px; }
ul ul, ol ol { padding-bottom: 0; }
dl { clear: both; display: table; width: 100%; margin: 0 0 2em 0; }
dt, dd { padding: 0 0 1em 0; display: table-row; width: 48%; float: left; }
dd { width: 52%; }
dt { font-weight: bold; }
address { padding-bottom: 2em; }
sub { font-size: .7em; vertical-align: bottom; }
sup { font-size: .7em; vertical-align: top; }
pre, code { font-family: 'Courier New', monospace; margin-bottom: 2em; }
hr { clear: both; background: #f63a00; height: 1px; width: 80px; border: 0; margin: 0 0 1em 0; text-align: left; }
hr.aligncenter, .aligncenter hr, .center hr { margin-left: auto; margin-right: auto; text-align: center; }
ul.aligncenter, .aligncenter ul, ol.aligncenter, .aligncenter ol { list-style-position: inside; padding-left: 0; }

.clear { clear: both; }
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { text-align: center; margin-left: auto; margin-right: auto; }
.justify { text-align: justify; }
.justifyleft { text-align: left; }
.justifyright { text-align: right; }
.hidden { display: none; }
.size-xl, big { font-size: 36pt; line-height: 1.2 !important; }
.size-l { font-size: 24pt; line-height: 1.2 !important; }
.size-m { font-size: 15pt; line-height: 1.5 !important; }
.size-s, small { font-size: .85em; line-height: 1.5 !important; }
.size-xs { font-size: .6em; }
.serif, .accent { font-family: 'Times New Roman', Times, serif; letter-spacing: normal; }
.accent { font-style: italic; font-size: .8em; font-weight: bold; letter-spacing: .08em !important; vertical-align: top; position: relative; top: 2px; letter-spacing: 0;  }
.smaller-width { width: 70%; }
.smaller-padding { padding-bottom: 8px; }
.smaller-margin { margin-bottom: 8px; }
.no-padding { padding-bottom: 0; }
.no-margin { margin-bottom: 0; }
.side-padding { padding-left: 10%; padding-right: 10%; }
.bring-up { position: relative; top: -1.8em; }
hr.divider { background: transparent !important; border: 0; padding: 16px 0; margin: 0; clear: both; }
.narrow { width: 75%; margin: 0 auto; }

img.alignleft { margin: 5px 20px 20px 0; }
img.alignright { margin: 5px 0 20px 20px; }
p.alignleft, div.alignleft { margin-right: 20px; }
p.alignright, div.alignright { margin-left: 20px; }
figure.wp-caption { width: auto !important; }
.wp-caption-text { font-size: .9em; margin-top: -25px; font-style: italic; }
.screen-reader-text { visibility: hidden; font-size: 0; }
.rsswidget img, img.wp-smiley { margin: 0; }
.rss-date { display: block; font-size: .8em; padding: 3px 0; }

table { width: 100%; margin: 0 0 25px 0; border-collapse: separate; border: 1px solid #cfd3d5; background: #141414; clear: both; }
table th { text-align: center; padding: 15px; font-size: 1.1em; }
table td { text-align: center; padding: 1em; vertical-align: middle; border: 1px solid #222; font-size: .95em;  }
table tr:nth-child(odd)  td {  }
table tr:nth-child(even) td {  }
table p { padding: 0; }
table sup { vertical-align: text-top; font-size: .55em; display: inline-block; margin: 2px 5px 0 -10px; opacity: .5; }
table p.table-top { display: inline-block; background: #EA8E00; color: white; text-transform: uppercase; padding: 7px 1em; font-size: 9pt; line-height: 1; position: relative; top: -19px; margin-bottom: 16px; font-weight: bold; letter-spacing: .05em; }
table caption { padding: 10px; text-transform: uppercase; font-size: .85em; text-align: left; margin-left: -10px;  }
table #today { background: #39DA81; color: white; text-align: center; }
table#wp-calendar tbody a { padding: 5px 0; display: block;  margin: -5px; color: white; text-align: center; }  
table#wp-calendar th { font-size: 1em; font-weight: bold; }
table #prev { text-align: left; }	table #next { text-align: right; }
			
.button.grey { border-color: #9D9D9D !important; color: #9D9D9D; } 	.grey { color: #9D9D9D; }
.button.grey:hover, .button.grey:focus { color: white; background-color: #9D9D9D; }
.button.white { border-color: white !important; color: white; } 		.white { color: white; }
.button.white:hover, .button.white:focus { background-color: white; }
.button.brown { border-color: #AF7A3F !important; color: #AF7A3F; } 		.brown { color: #AF7A3F; }
.button.brown:hover, .button.brown:focus { color: white; background-color: #AF7A3F; }
.button.blue { border-color: #1190CE !important; color: #1190CE; } 	.blue { color: #1190CE; }
.button.blue:hover, .button.blue:focus { color: white; background-color: #1190CE; }
.button.indigo { border-color: #0E55AF !important; color: #0E55AF; } .indigo { color: #0E55AF; }
.button.indigo:hover, .button.indigo:focus { color: white; background-color: #0E55AF; }
.button.purple { border-color: #9510C4 !important; color: #9510C4; } .purple { color: #9510C4; }
.button.purple:hover, .button.purple:focus { color: white; background-color: #9510C4; }
.button.green { border-color: #75BA2D !important; color: #75BA2D; } 	.green { color: #75BA2D; } 
.button.green:hover, .button.green:focus { color: white; background-color: #75BA2D; }
.button.teel { border-color: #32C79F !important; color: #32C79F; } 		.teel { color: #32C79F;  }
.button.teel:hover, .button.teel:focus { color: white; background-color: #32C79F; }
.button.red { border-color: #f63a00 !important; color: #f63a00; } 	.red { color: #f63a00; }
.button.red:hover, .button.red:focus { color: white; background-color: #f63a00; }
.button.black { border-color: #222 !important; color:  #222; } 		.black { color: #222; }
.button.black:hover, .button.black:focus { color: white; background-color: #222; }		
.button.pink { border-color: #D20A5B !important; color: #D20A5B; } 	.pink { color: #D20A5B; }
.button.pink:hover, .button.pink:focus { color: white; background-color: #D20A5B; }		
.button.orange { border-color: #CE690C !important; color: #CE690C; } 	.orange { color: #CE690C; }
.button.orange:hover, .button.orange:focus { color: white; background-color: #CE690C; }	
.button.yellow { border-color: #f5d000 !important; color: #f5d000; } 	.yellow { color: #f5d000; }
.button.yellow:hover, .button.yellow:focus { color: white; background-color: #f5d000; }

.button.big, .big > .button { padding: 6px 25px 7px 25px; font-size: 1.2em;  }
.button.small, .small > .button { padding: 3px 10px 3px 10px; font-size: .85em; }

code { font-family: "Courier New", monospace;  }

ul.arrows, ul.ticks { padding-left: 2em; }
ul.arrows li, ul.ticks li { list-style: none; position: relative; }
ul.arrows li::before, ul.ticks li::before { position: absolute; left: -1.5em; font-size: 1.1em; font-weight: normal; }
ul.arrows li::before { content: '→'; }
ul.ticks li::before { content: '✔';}
ul.no-ticks { list-style: none; }

blockquote { position: relative; margin: 0 0 2em 36px; }
blockquote::before { content: ""; position: absolute; left: -35px; width: 1px; height: 96%; background: #afb9c4; top: 4px; }
blockquote p { padding: 0; } 
cite { display: block; font-size: .8em; }

.circle-image { display: inline-block; margin: 0 15px 0 3px; vertical-align: top; float: left; }
.circle-image img, img.circle-image { width: 80px; height: 80px; border-radius: 40px; margin: -.5em 20px 2em 0; }

.notice, #message > div { min-height: 50px; padding: 10px 10px 10px 60px !important; background: #F2EEDA; margin-bottom: 1em; position: relative; color: #7F680F; }
.notice p { padding: 0; }
.notice::before, #message > div::before { display: block; width: 46px; height: 100%; position: absolute; top: 0; left: 0; content: '\279f'; background: #E4D329; color: white; font-weight: bold; text-align: center; line-height: 52px; font-size: 15pt; }
.error, #message > div.error_message { background-color: #f9e5e6; color: #B71C1C; }
.error::before, #message > div.error_message::before { content: '!'; background: #E53935; }
.success { background-color: #e3ebc6; color: #33691E; }
.success::before { content: '\2714'; background: #75BA2D; }
.info { background-color: #d8ecf5; color: #01579B; }
.info::before { content: 'i'; background: #039BE5; }

.icons-showoff::after { content: ""; display: block; clear: both; }
.icons-showoff p { display: inline-block; text-align: center; width: 100px; font-size: .8em; } 
.icons-showoff i { font-size: 2em; display: block; padding-bottom: 8px; } 
