/* ============================================ *
 * Homepage
 * ============================================ */

#index{
	background-color: #111;

	#header{
		top: -60px;
		@include animation(show-fixed-header 0.3s ease-out forwards);
		animation-delay: 4s;
	}

	#introduction{
		p{
			padding : $gap;
			color 	: #fff;
			letter-spacing: 2.5px;
		}
	}

	.banner{ 
		overflow 			: hidden; 
		margin 				: 0;
		background-color 	: $c-primary;
		padding 			: 80px 0;
	}

	.section
	{
		&.work{
			padding	: 0;
		}

		/* ============================================ *
		 * HOMEPAGE - SERVICES
		 * ============================================ */
		&.services{	
			min-height: 400px;
			
			.section--content{

				.service--icon{
					max-width 			: 50%;
					display 			: inline-block;
					margin-bottom 		: 10px;
					
				}

				h3{
					font-size 	: 24px;
					font-weight : 900;
					color 		: #fff;
				}

				p{
					margin-bottom: $gap;
				}

				.service--list{
					@include display-flex(flex);
					@include align-items(flex-start);
					@include justify-content(space-around);
					@include flex-wrap(wrap);

					li{
						width: 20vw;

						.service--title{
							margin-bottom: $gap;
						}

						.service--content{
							margin-top: $gap;
						}

						.service--icon{
							@include display-flex(flex);
							@include justify-content(center);
							@include align-items(center);
							min-width 			: 100%;
							min-height 			: 220px;

							svg{
								max-width 	: 170px;
								max-height 	: 170px;
							}
						}

						p,
						h3,
						a{
							text-align 	: center;
							display 	: block;
						}

						p{
							min-height: 70px;
						}
					}

					&.service--illu{
						background-color: blue;
					}


				}
			}

		}

	}

}


@include bp(min-width, $bp-small+1){
	#index{
		.section{

			&.services{
				.section--content{
					.service--list{
						&.mobile{
							display: none;
						}
						&.desktop{
							@include display-flex(flex);
						}
					}
				}
			}
		}
	}
}

@include bp(max-width, $bp-small){

	#index{
		.banner{ 

			&.banner-main{
				height: 90vh;
			}
		}

		.section{

			&.services{

				.section--content{

					.service--list{
						display 	: block;
						width 		: 100vw;
					    padding 	: $gap 0;
					    margin 		: 0;


					    .owl-nav{
					    	display: none;
					    }

						li{
							@include animation(all 0.2s ease-out);
							@include display-flex(flex);
							@include align-items(center);
							@include flex-direction(column);
							width: 100vw;

							p{
								max-width: 80vw;
								color: #999;
							}
						}

						&.desktop{
							display: none;
						}
					}
				}
			}
		}
	}
}


