
/* ============================================ *
 * Project Page 
 * ============================================ */

.project{

	#content{
		background-color: #fff;
	}

	#main-picture {
		@include transition(opacity 1s ease-in-out);
		opacity: 0;

		&.full{
			opacity: 1;
		}
	}

	.nav-dots span {
		@include transition(all 0.2s);
		background: rgba(150,150,150,0.1);
		margin: 6px;
		
		box-shadow: 
			0 1px 1px rgba(255,255,255,0.4), 
			inset 0 1px 1px rgba(0,0,0,0.1),
			0 0 0 2px rgba(255,255,255,0.5);

		&.nav-dot-current,
		&:hover {
			box-shadow: 
				0 1px 1px rgba(255,255,255,0.4), 
				inset 0 1px 1px rgba(0,0,0,0.1),
				0 0 0 5px rgba(255,255,255,0.5);
		}
	}

	.sl-slider-wrapper {
		width: 100%;
		height: 600px;
		overflow: hidden;
		position: relative;
	}
	.col-6, 
	.col-12{
		img{ width: 100%; }
	}

	.sl-slider{
		h2,
		blockquote {
			padding: 100px 30px 10px 30px;
			width: 80%;
			max-width: 960px;
			color: #fff;
			margin: 0 auto;
			position: relative;
			z-index: 100;
		}

		h2 {
			font-size: 100px;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
		}

		blockquote {
			font-size: 28px;
			padding-top: 10px;
			font-weight: 300;
			text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

			cite {
				font-size: 16px;
				font-weight: 700;
				font-style: normal;
				text-transform: uppercase;
				letter-spacing: 5px;
				padding-top: 30px;
				display: inline-block;
			}
		}
	}

	
	.see-more { 
		background-color: $c-background;

		h3 { 
			color: $c-text-gray; 
			text-align: center; 
			font-size: $f-size-xxl; 
			margin: $gap 0; 
			border-bottom: 0px; 
		} 
	}

	.artwork{
		text-align: center;
		background-color: #000;
	}

	.description{
		background-color 	: $c-description;
		overflow-x 			: hidden;
		overflow-y 			: scroll;
		color 				: #fff;

		.col-inside{
			padding-top 		: $gap;
			
			span.date{
				display 		: inline-block;
				font-weight 	: 100;
			}

			h1{
				font-size 		: $f-size-xxl;
				color 			: #fff;
				margin-bottom 	: 0px;
				font-weight 	: bold;
				text-transform 	: uppercase;
			}

			h2{
				font-size 		: $f-size-l;
				color 			: #fff;
				margin-bottom 	: 40px;
				text-transform 	: initial;
				font-weight 	: 100;
				letter-spacing 	: 2px;
			}

			

			p{
				font-size 		: $f-size;
				color 			: #fff;
				line-height 	: 1.2;
				font-weight 	: 100;
				letter-spacing 	: 2px;
			}

			h3{
				margin 	 		: 40px 0 20px 0;
				padding-bottom 	: 10px;
				border-bottom 	: 1px solid #fff;
				text-transform 	: uppercase;
				color 			: #fff;

			}
		}
	}

	/* background setup    */
	/* Custom Project Page */
	.background {
		background-repeat:no-repeat;
		/* custom background-position */
		background-position:50% 50%;
		/* ie8- graceful degradation */
		background-position:50% 50%\9 !important;
	}

	.fullscreen,
	#content-a {
		width:100%;
		min-height:100%;
	}

	/* content centering styles */
	#content-a {
		display:table;
	}

	#content-b {
		display: table-cell;
		position: absolute;
		vertical-align: middle;
	}

	.not-fullscreen,
	.not-fullscreen #content-a,
	.fullscreen.not-overflow,
	.fullscreen.not-overflow #content-a {
		height:100%;
		overflow:hidden;
	}

	/* visual styles */
	.not-fullscreen {
		height:50%;
	}


	&#vision-direct{

	}

	&#residence{
				
	}
} 


#content-a { position: relative; }
#content-b { 
	text-align: left;

	h1{ 
		color:#fff; 
		margin-bottom: 0px; 
		line-height: 50px; 
		font-size: $f-size-xxl;   
		font-weight: 800;   
		letter-spacing: 10px;   
		text-transform: uppercase; 
		text-shadow: 0 0 1px #000;
	}

	h2 { 
		color: #fff; 
		margin-bottom: 0px; 
		font-weight: 100;   
		font-size: $f-size-l;   
		line-height: 1.1;
		margin-top: 0px;
		letter-spacing: 2px;
	}

	&.top-5  { top: 5%; }
	&.top-10 { top: 10%; }
	&.top-20 { top: 20%; }
	&.top-30 { top: 30%; }
	&.left   { left: 10%; }
	&.right  { left: 50%; }
	&.center { width: 100%; text-align: center; }
	&.bottom { top: 70%; }

}

.center{ text-align: center; }

.subtitle {
    margin-bottom: $gap;
    display: inline-block;
    color: $c-primary;
}

/* ============================================ *
 * GENERAL PROJECT PAGE STYLING
 * ============================================ */
body.project{
	#content{

		.details,
		.introduction,
		.font,
		.brands-logo,
		.logos,
		.logo,
		.main-screens,
		.mobile-screens{

			.section--content{
				p{
					font-size: $f-size-l;
					line-height: 1.2;
					color: #fff;
					margin: $gap 0;
				}
			}
		}

		/* ============================================ *
		 * DETAILS - GENERAL
		 * ============================================ */
		.details{
	 		@include display-flex(flex);
	 		@include align-items(center);
	 		@include justify-content(center);
	 		@include flex-direction(row);

	 		width: 80vw;
	 		height: 80vh;
	 		padding: 10vh 0;
	 		margin: 0 10vw;

 			.project--desc{
 				width: 30vw;

 				h2,	p, dl, dt, dd{
 					color: #fff;
 				}

 				dl{
 					width: 33.33%;
 				}

 				dt{
 					width: 100%;
 					font-weight: bold;
 					font-size: $f-size-l;
 					line-height: 20px;
 				}

 				dd, p{
 					width: 100%;
 					font-weight: 100;
 					font-size: $f-size;
 					line-height: 20px;
 					margin-left: 0;
 					margin-top: 10px;
 				}

 				h2{
 					font-weight: bold;
 					margin-bottom: $gap;
 				}

 				.project--logo{
 					margin-bottom: $gap*3;
 				}

 				.project--details{
 					@include display-flex(flex);
 					@include align-items(flex-start);
 					@include justify-content(space-between);
 					margin-top: $gap*3;
 				}
 			}

 			.project--img{
 				width: 60vw;
 			}
	 	}

	 	/* ============================================ *
		 * 01.INTRODUCTION - HOMEPAGE MOCKUP
		 * ============================================ */
	 	.introduction{
	 		@include display-flex(flex);
	 		@include align-items(flex-start);
	 		@include justify-content(center);
	 		position 		: relative;

	 		.section--title{
	 			bottom 		: 20%;
	 			top 		: auto;
	 		}

	 		.project--mockup{
	 			width 		: 100vw;
	 			position 	: relative;
	 			z-index 	: 5000;
	 			text-align  : center;

	 			img{
	 				max-height: 800px;
	 			}
	 		}
	 	}

	 	/* ============================================ *
		 * 02.FONT AND COLOURS
		 * ============================================ */
	 	.font{
	 		@include justify-content(center);
	 		position 		: relative;

	 		.section--title{
	 			top			: 30vw;
	 		}

	 		.section--content{
	 			@include display-flex(flex);
	 			@include justify-content(center);
	 			@include flex-direction(column);
	 			@include align-items(center);
	 			width: 100vw;

	 			.project--font-sample{
	 				@include display-flex(flex);
	 				@include align-items(center);
	 				@include justify-content(flex-start);
	 				width 			: 50vw;
	 				margin-bottom 	: $gap*3;

		 			.project--font-letter{
		 				display 			: inline-block;
		 				background-color 	: #fff;
		 				border-radius 		: 4px;
		 				padding 			: 40px;
		 				margin-right 		: $gap;
		 			}

		 			.project--font-info{
		 				@include display-flex(flex);
		 				@include align-items(center);
		 				@include justify-content(space-evenly);
		 				@include flex-direction(column);

		 				span{
		 					width 				: 100%;
		 					text-align 			: left;


		 					&.project--font-name{
		 						font-weight 		: bold;
		 						font-size 			: $f-size-xl;
		 						color 				: #2a2a2a;
		 					}

		 					&.project--font-author{
		 						font-weight 		: 100;
		 						font-size 			: $f-size-l;
		 						font-style 			: italic;
		 						margin-bottom 		: $gap;
		 					}
		 				}
		 			}
		 		}


		 		.project--colours{
		 			@include display-flex(flex);
		 			@include flex-direction(column);
		 			@include align-items(flex-start);
		 			width: 50vw;

		 			ul{
		 				@include display-flex(flex);
		 				@include flex-direction(row);
		 				@include align-items(flex-start);
		 				@include justify-content(flex-start);
		 				margin 		: 0;
		 				padding 	: 0;

		 				li{
			 				margin 			: 0 $gap $gap 0;

			 				.project--colour-name{
			 					font-weight 		: 100;
			 					font-size 			: $f-size-s;
			 				}

				 			div.project--colour,
				 			&.project--colour-more-shade.project--colour{
				 				height 				: 100px;
				 				width 				: 100px;
				 				background-color 	: #2a2a2a;
				 				border-radius 		: 4px;
				 				margin-bottom 		: $gap;
				 			}


				 			&.project--colour-green div.project--colour 		 		{ background-color: #A7C400; }
				 			&.project--colour-blue div.project--colour 			 		{ background-color: #007FA9; }
				 			&.project--colour-dark-grey div.project--colour 			{ background-color: #333333; }
				 			&.project--colour-medium-grey-1 div.project--colour 		{ background-color: #555555; }


				 			&.project--colour-more-shade{

				 				.colour-shades{
					 				@include display-flex(flex);
					 				@include align-items(flex-start);

					 				.project--colour{
					 					margin 			: 0 $gap $gap 0;
					 				}
					 			}

				 				.project--colour-medium-grey-2 		{ background-color: #777777; }
				 				.project--colour-medium-grey-3 		{ background-color: #999999; }
				 				.project--colour-light-grey-1 		{ background-color: #CCCCCC; }
				 				.project--colour-light-grey-2 		{ background-color: #DDDDDD; }
				 			}

				 		}
			 		}
		 		}
	 		}
	 	}

	 	/* ============================================ *
		 * 03. LOGO
		 * ============================================ */

		 .logo{
		 	.section--title{
	 			top: 20vw;
			}
		 }

	 	/* ============================================ *
		 * 04. MAIN SCREENS
		 * ============================================ */
		.main-screens{
		 	position: relative;
		 	padding: 10vh 0;

		 	.section--title{
	 			top: 20vw;

	 			h2{
				    color: #fff;
	 			}
			}

			.section--content{
				@include display-flex(flex);
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);
				width: 60vw;
				margin: 0 20vw;

				.project--screen{
					width: 60vw;

					.project--screen-title{
						color: #fff;
						font-weight: 100;
						font-size: $f-size-l;
						margin-bottom: $gap;
						display: block;
					}

					img{
						@include box-shadow( 0 10px 20px rgba(0,0,0,0.2));
						border-radius: 4px;
						overflow:hidden;
					}
				}

				.secondary-screens{
					@include display-flex(flex);
					@include flex-direction(row);
					@include justify-content(space-between);
					@include align-items(flex-start);
					width: 100%;

					.project--screen{
						width: 28vw;
					}

					div{
						margin-top: 4vw;
					}

				}
			}

		}

		/* ============================================ *
		 * 05. MOBILE SCREENS
		 * ============================================ */
		.mobile-screens{
			position: relative;
			padding-bottom: 10vh;

			.section--title{
	 			top: 20vw;

	 			h2{
				    color: #fff;
	 			}
			}


			.section--content{
				@include display-flex(flex);
				@include align-items(center);
				@include justify-content(space-evenly);
				@include flex-direction(row);

				width 		: 60vw;
				margin 		: 0 20vw;

				div.project--screen{
					width 	: 18vw;

					img{
						@include box-shadow( 0 10px 20px rgba(0,0,0,0.2));
						margin-bottom 		: 1vw;
						border-radius 		: 4px;
						overflow 			: hidden;
					}
				}
			}
		}

		.section.work{
			.work--project{
				&.web,
				&.print,
				&.illustration{
					width: 20vw;
					height: 500px;
				}
			}
		}

		/* ============================================ *
		 * MEDIA QUERY - LARGE SCREEN
		 * ============================================ */
		@include bp(max-width, $bp-xlarge){
			.details,
			.introduction,
			.font,
			.brands-logo,
			.logos,
			.logo,
			.main-screens,
			.mobile-screens{
				.section--title{
					width: 40vw;
					left: 5vw;
				}

				.section--content{
					p{
						font-size: $f-size;
						line-height: 1.2;
					}
				}
			}

			/* ============================================ *
			 * DETAILS - VD VAN - LARGE SCREEN
			 * ============================================ */
			.details{
				width: 100vw;

				.project--desc{
					width: 40vw;
				}

				.project--img{

					img{
						width 		: 100vw;
    					max-width 	: none;
					}
				}
			}

			/* ============================================ *
			 * 01.INTRODUCTION - LARGE SCREEN
			 * ============================================ */
			.introduction{
				.section--content,
				.project--mockup{
					width: 70vw;
				}
			}


			/* ============================================ *
			 * 02.FONT AND COLOURS - LARGE SCREEN
			 * ============================================ */
			.font{
				padding-top 	: 0;
				height 			: 80vh;

				.section--title{
					top 		: 40vw;
				}

				.section--content{
					.project--colours{
						ul{
							@include flex-flow(wrap);

							.project--colour-more-shade{
								width 			: 100%;
								text-align 		: left;

								.project--colour-name{
									margin-left : $gap;
								}
							}
						}
					}
				}
			}

			/* ============================================ *
			 * 03. LOGO - LARGE SCREEN
			 * ============================================ */
			.logo{
				.section--title{
					top: 40vw;
				}
			}

			/* ============================================ *
			 * 04. MAIN SCREENS - LARGE SCREEN
			 * ============================================ */
			.main-screens{
				.section--title{
					top: 40vw;
				}
			}

			/* ============================================ *
			 * 04. SECTION WORK - LARGE SCREEN
			 * ============================================ */
			.section.work{
				.work--project{
					&.web,
					&.print,
					&.illustration{
						width: 40vw;
						height: 500px;
					}
				}
			}
		}

		/* ============================================ *
		 * MEDIA QUERY - MEDIUM SCREEN
		 * ============================================ */
		@include bp(max-width, $bp-medium){

			.details,
			.introduction,
			.font,
			.brands-logo,
			.logos,
			.logo,
			.main-screens,
			.mobile-screens{
				@include flex-direction(column);

				.section--title{
					width 		: 100vw;
					padding 	: 0;
					position 	: relative;
				    left 		: 0;
				    top 		: 0;

					h2{
						@include transform(rotate(0));
						position: relative;
					}
				}

			}

			/* ============================================ *
			 * DETAILS - VD VAN - MEDIUM SCREEN
			 * ============================================ */
			.details{
				height 			: auto;
				padding 		: 10vh 0 0;
				margin 			: 0;

				.section--title{
					order 			: 2;
					margin-bottom 	: $gap*2;
				}

				.project--desc{
					width 			: 80vw;
					text-align 		: center;
					order 			: 3;
				}

				.project--img{
					width 		: 100vw;
					order 		: 1;
					margin 		: 0 0 5vh;
				}
			}

			/* ============================================ *
			 * 01.INTRODUCTION - HOMEPAGE MOCKUP - MEDIUM SCREEN
			 * ============================================ */
			.introduction{
				@include align-items(center);
				height 			: auto;
				padding 		: 5vh 0;

				.section--title{
					display 	: none;
				}

				.section--content,
				.project--mockup{
					width: 90vw;
				}
			}

			/* ============================================ *
			 * 02.FONT AND COLOURS - MEDIUM SCREEN
			 * ============================================ */
			.font{
				height: auto;
				padding: 5vh 0 0;

				.section--content{
					.project--font-sample{
						@include flex-direction(column);
						margin-top 	: $gap;
						width 		: 80vw;

						.project--font-letter{
							margin-right 	: 0;
							margin-bottom 	: $gap;
						}

						.project--font-info{
							span{
								text-align 	: center;
							}
						}
					}

					.project--colours{
						@include align-items(center);
						width: 80vw;

						ul{
							@include justify-content(space-around);
							width 		: 80vw;
							margin 		: 0 0 $gap;

			 				li{
			 					margin 	: 0 0 $gap 0;
			 					height 	: 40vw;

				 				.project--colour-name{
				 					font-weight 		: 100;
				 					font-size 			: $f-size-s;
				 					width 				: 100%;
				 				}

					 			div.project--colour{
					 				width 	: 30vw;
					 				height 	: 30vw;
					 			}
					 		}

					 		&.project--colours-secondary{
					 			@include flex-flow(wrap);
					 			@include align-items(center);

					 			li.project--colour-more-shade{
					 				margin-top 	: $gap;
					 				height 		: auto;

					 				div.colour-shades{
					 					@include justify-content(space-around);
					 					width 			: 80vw;
					 					margin-bottom 	: $gap;

						 				div.project--colour{
						 					width 		: 12vw;
						 					height 		: 12vw;
						 					margin 		: 0;
						 				}
						 			}

					 			}
					 		}
					 	}
					}
				}
			}

			/* ============================================ *
			 * 03. LOGO - MEDIUM SCREEN
			 * ============================================ */
			.logo{
				height: auto;
				padding: 5vh 0 0;
			}

			/* ============================================ *
			 * 04. MAIN SCREENS - MEDIUM SCREEN
			 * ============================================ */
			.main-screens{
				height 		: auto;
				padding 	: 5vh 0;

				.section--content{
					width 	: 80vw;
					margin 	: 0 10vw;

					div.project--screen,
					.secondary-screens div.project--screen{
						width 		: 80vw;
						margin-top 	: $gap*2;

						&.project--3d-contact-lenses img{
							width 	: 100%;
						}
					}

					.secondary-screens{
						@include flex-direction(column);
						width 		: 80vw;
					}
				}
			}

			/* ============================================ *
			 * 05. MOBILE SCREENS - MEDIUM SCREEN
			 * ============================================ */
			.mobile-screens{
				height 		: auto;
				padding 	: 0 0 5vh 0;

				.section--content{
					width 	: 80vw;
					margin 	: 0 10vw;

					div.project--screen{
						width 	: 25vw;

						.project--screen-title{
							width: 100%;
						}
					}
				}
			}

			/* ============================================ *
			 * 04. SECTION WORK - LARGE SCREEN
			 * ============================================ */
			.section.work{
				.work--project{
					&.web,
					&.print,
					&.illustration{
						width: 40vw;
						height: 500px;
					}
				}
			}
		}


		/* ============================================ *
		 * MEDIA QUERY - SMALL SCREEN
		 * ============================================ */
		@include bp(max-width, $bp-small){
			.details,
			.introduction,
			.font,
			.brands-logo,
			.logos,
			.logo,
			.main-screens,
			.mobile-screens{
				height: auto;
				.section--content{
					width: 90vw;
					margin: 0 5vw;
				}
			}

			/* ============================================ *
			 * DETAILS - SMALL SCREEN
			 * ============================================ */
			.details{

				.project--desc{

					.project--details{
						@include flex-direction(column);
						
						dl{
							@include display-flex(flex);
							@include flex-direction(row);
							@include align-items(flex-start);
							width 		: 100%;
							margin 		: 0 0 $gap;
							
							dt,dd{
								width 		: 40%;
								display 	: inline-block;
							}

							dt{
								text-align 		: right;
								margin-right 	: $gap;
							}

							dd{
								text-align 	: left;
								margin 		: 0;
							}
						}
					}
				}

				.project--img{

					img{
						max-height 		: 40vh;
    					width 			: auto;
					}
				}
			}

			/* ============================================ *
			 * 05. MOBILE SCREENS - SMALL SCREEN
			 * ============================================ */
			.mobile-screens{

				.section--content{
					@include flex-direction(column);
					width: 80vw;
					margin: 0 10vw;

					div.project--screen{
						width: 80vw;

						img{
							margin-top 		: $gap*2;
							width 			: 100%;
							max-height 		: unset;
						}
					}
				}
			}

			/* ============================================ *
			 * SECTION WORK - SMALL SCREEN
			 * ============================================ */
			.section.work{
				padding: 0;

				.work--project{
					&.web,
					&.print,
					&.illustration{
						width: 100vw;
						height: 500px;
					}
				}
			}
		}
	}
}