/* ============================================ *
 * SHOWREEL
 * ============================================ */

#showreel{

	.page{ 
		margin-top 			 	: -$s-header;
		position 				: relative;
		width					: 100%;
		height 					: 100%;
		background-color 		: $c-background;
		padding 				: 0;
		overflow 				: hidden;
		display 				: inline-block;

	  	#vidpause{
			display 			: block;
			z-index 			: 9999;
			position 			: absolute;
			width 				: 20px;
			height 				: 20px;
			margin 				: 0 auto;
			text-align 			: center;
			left 				: 47%;
			top 				: 48px;
			cursor 				: pointer;

			.icon-player { 
				background 		: url('../images/layout/sprite-player.png') no-repeat; 
				display 		: block; 
				z-index 		: 9999; 
				position 		: absolute;
				width			: 20px; 
				height 			: 20px;

				&.pause { background-position: -25px -5px; }
				&.play { background-position: -5px -5px; }
			}
		}

		video {
		    width: 100%;
		    height: auto;
		    max-height: 100%;
		}
	} 

}