/* ============================================ *
 * NEW Project - Vision Direct
 * ============================================ */

 #vision-direct.project{

 	#content{
	 	background-color: #007FA9;

	 	/* ============================================ *
		 * 03. LOGO
		 * ============================================ */
		.logo{

			.section--content{
				@include display-flex(flex);
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);
				width: 100vw;

				.project--logo-wire{
					width: 80vw;
					
					img{
						max-height: 80vh;
					}
				}

				.project--logo-background{
					@include display-flex(flex);
					@include align-items(center);
					@include justify-content(center);
					@include flex-direction(row);
					width: 100vw;


					div{
						@include display-flex(flex);
						@include align-items(center);
						@include justify-content(center);
						height: 20vh;
						width: 50vw;
						padding: 0 5vw;

						svg{
							width: 25vw;
							height: auto;
						}

						&.project--logo-background-dark{
							@include justify-content(flex-end);
						}

						&.project--logo-background-light{
							@include justify-content(flex-start);
							background-color: #fff;

						}
					}
				}
			}
		}

		/* ============================================ *
		 * 04. MAIN SCREENS
		 * ============================================ */
		.main-screens{
		 	background-image:url("../images/project/Vision-Direct/vd-logo-background.png");
		 	background-size: cover;

			.section--content{

				.project--screen{

					&.project--3d-contact-lenses{
						text-align: center;

						.project--screen-title{
							text-align: center;
						}

						img{
							@include box-shadow(none);
							width: 80%;
							display: inline-block;
						}
					}
				}

			}

		}

		/* ============================================ *
		 * 05. MOBILE SCREENS
		 * ============================================ */
		.mobile-screens{

		}


		/* ============================================ *
		 * MEDIA QUERY - MEDIUM SCREEN
		 * ============================================ */
		@include bp(max-width, $bp-medium){

			.details{
				.project--img{
					img{
						width 		: 120vw;
    					max-width 	: none;
					}
				}
			}
			/* ============================================ *
			 * 01.INTRODUCTION - HOMEPAGE MOCKUP - MEDIUM SCREEN
			 * ============================================ */
			.introduction{
				.section--content,
				.project--mockup{
					width 	: 110vw;
				}
			}
			/* ============================================ *
			 * 03. LOGO - MEDIUM SCREEN
			 * ============================================ */
			.logo{

				.section--content{
					.project--logo-wire{
						width: 100vw;
					}

					.project--logo-background{
						@include flex-direction(column);
						width: 100vw;

						div{
							width: 100vw;

							&.project--logo-background-dark,
							&.project--logo-background-light{
								@include justify-content(center);
								
								svg{
									width: 70vw;
								}
							}
						}
					}
				}
			}

			/* ============================================ *
			 * 04. MAIN SCREENS - MEDIUM SCREEN
			 * ============================================ */
			.main-screens{

				.section--content{

					div.project--screen,
					.secondary-screens div.project--screen{

						&.project--3d-contact-lenses img{
							width 	: 100%;
						}
					}
				}
			}
		}

	}
}