/* ============================================ *
 * FOOTER
 * ============================================ */

#footer{
	@include transition(all 1s ease);
	width              : 100%;
	font-size          : $f-size;
	color              : $c-text-gray;
	text-align         : left;
	background-color   : $c-footer;
	
	.wrap{ 
		width: 100%;
		@include display-flex(flex);
		@include justify-content(space-between);
		@include flex-direction(row); 
	}

	.copyright{ 
		@include order(1);
		line-height 	: $s-footer; 
	}

	/* Social Media */
	.social {
		@include order(2);
		line-height     : $s-footer;
		margin 			: 0;
		padding 		: 0;

		li{
			float 			: right;

			a{
				font-size 		: $f-size-xl;
				display 		: inline-block;
				color 			: $c-text-gray;
				margin-left 	: $gap;

				&:hover{
					color: #fff;
				}
			}
		}
	}
}

@include bp(max-width, $bp-xsmall) {	
	#footer{
		
		.wrap { 
			padding: 40px 0;
			@include flex-direction(column); 
		}

		.copyright { 
			@include order(2);
			width 		: 100%; 
			text-align 	: center; 
			display 	: block; 
			margin 		: 0; 
			line-height : 20px; 
		}

		.social { 
			@include order(1);
			display: block; 
			margin: 0 auto; 
		}
	}
}
