$bg-menu: #fff;
$c-menu-content: #000;

html,
body,
#container,
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.content-wrap {
	@include transition(transform 0.3s);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#content {
	position 			: relative;
	background 			: $c-background;

	&::before {
		@include opacity(0);
		@include transition(opacity 0.3s, transform 0s 0.3s);
		@include transform(translate3d(100%,0,0));
		position 		: absolute;
		top 			: 0;
		left 			: 0;
		z-index 		: 10;
		width 			: 100%;
		height 			: 100%;
		background 		: rgba(0,0,0,0.3);
		content 		: '';
	}
}

/* Menu Button */
.menu-button {
	position 	: fixed;
	z-index 	: 1000;
	margin 		: 1em;
	padding 	: 0;
	width 		: 2.5em;
	height 		: 2.25em;
	border 		: none;
	text-indent : 2.5em;
	font-size 	: 1.5em;
	color 		: transparent;
	background 	: transparent;

	&::before {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		bottom: 0.5em;
		left: 0.5em;
		background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
		content: '';
	}

	&:hover {
		@include opacity(0.6);
	}
}

/* Close Button */
.close-button {
	width 	: 16px;
	height 	: 16px;
	position: absolute;
	right 	: 1em;
	top 	: 1em;
	overflow: hidden;
	text-indent: 16px;
	border 	: none;
	z-index : 1001;
	background: transparent;
	color: transparent;

	&::before,
	&::after{
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		top: 0;
		left: 50%;
		background: $c-menu-content;
	}

	&::before {
		@include transform(rotate(45deg));
	}

	&::after {
		@include transform(rotate(-45deg));
	}
}

/* Menu */
.menu-wrap {
	@include transform(translate3d(-300px,0,0));
	@include transition(transform 0.3s);
	position 	: absolute;
	z-index 	: 1001;
	width 		: 300px;
	height 		: 100%;
	font-size 	: 1.15em;

	.menu {
		background 	: $bg-menu;
		width 		: calc(100% - 120px);
		height 		: 100%;
		padding 	: 2em 1em;

		.icon-list {
			width 	: 280px;

			a {
				display 	: block;
				padding 	: 0.8em;

				i {
					@include opacity(0.5);
				}

				span {
					margin-left 	: 10px;
					text-transform 	: uppercase;
					font-weight 	: 700;
					letter-spacing 	: 1px;
					font-size 		: 0.75em;
				}
			}
		}

		a {
			color: $c-menu-content;

			&:hover,
			&:focus{
				color 				: $c-primary;
				text-decoration 	: none;
			}
		}
	}	

	/* Morph Shape */
	.morph-shape {
		position: absolute;
		width: 120px;
		height: 100%;
		top: 0;
		right: 0;
		fill: $bg-menu;
		z-index: 1000;
	}
}

/* Shown menu */
.show-menu {
	.menu-wrap {
		@include transform(translate3d(0,0,0));
	}

	.content-wrap {
		@include transform(translate3d(100px,0,0));
		@include transition-delay(0.1s);
	}


	#content::before {
		@include opacity(1);
		@include transition(opacity 0.3s);
		@include transform(translate3d(0,0,0));
	}

}
