@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rq91ff');
	src:url('fonts/icomoon.eot?#iefix-rq91ff') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-rq91ff') format('truetype'),
		url('fonts/icomoon.woff?-rq91ff') format('woff'),
		url('fonts/icomoon.svg?-rq91ff#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clipboard:before {
	content: "\e600";
}
.icon-equalizer:before {
	content: "\e601";
}
.icon-diamond:before {
	content: "\e602";
}
.icon-lamp:before {
	content: "\e603";
}
.icon-lamp2:before {
	content: "\e604";
}
.icon-locked:before {
	content: "\e605";
}
.icon-medal:before {
	content: "\e606";
}
.icon-mouse:before {
	content: "\e607";
}
.icon-lab:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e609";
}
.icon-monitor:before {
	content: "\e612";
}
.icon-calendar:before {
	content: "\e60a";
}
.icon-pictures:before {
	content: "\e60b";
}
.icon-camera:before {
	content: "\e60c";
}
.icon-play:before {
	content: "\e60d";
}
.icon-microphone:before {
	content: "\e60e";
}
.icon-cart:before {
	content: "\e60f";
}
.icon-location:before {
	content: "\e610";
}
.icon-time:before {
	content: "\e611";
}
.icon-phone:before {
	content: "\e613";
}
.icon-bubble:before {
	content: "\e614";
}
.icon-search:before {
	content: "\e615";
}
.icon-cog:before {
	content: "\e616";
}
.icon-chart:before {
	content: "\e617";
}
.icon-menu:before {
	content: "\e618";
}
.icon-eye:before {
	content: "\e619";
}
.icon-checkmark2:before {
	content: "\e61a";
}
.icon-checkmark3:before {
	content: "\e61b";
}
.icon-google-plus:before {
	content: "\e61c";
}
.icon-facebook:before {
	content: "\e61d";
}
.icon-instagram:before {
	content: "\e61e";
}
.icon-twitter:before {
	content: "\e61f";
}
.icon-feed:before {
	content: "\e620";
}
.icon-youtube:before {
	content: "\e621";
}
.icon-vimeo:before {
	content: "\e622";
}
.icon-flickr:before {
	content: "\e623";
}
.icon-picassa:before {
	content: "\e624";
}
.icon-dribbble:before {
	content: "\e625";
}
.icon-github:before {
	content: "\e626";
}
.icon-tumblr:before {
	content: "\e627";
}
.icon-skype:before {
	content: "\e62a";
}
.icon-linkedin:before {
	content: "\e628";
}
.icon-pinterest:before {
	content: "\e629";
}
